# ANSWER 1
add an element to a list using the append() method or the + operator
## list_name.append(element)
## OR
## list_name = list_name + [element]

# ANSWER 2 
remove(): The remove() function is used to remove the first occurrence of a specified value from the list. It takes the value to be removed as an argument and modifies the list in-place. If the value is found in the list, it is removed, and the list is updated. If the value is not present in the list, a ValueError is raised. The remove() function does not return the removed 
value.

Pop(): The pop() function is used to remove an element from a list based on its index. It takes the index of the element to be removed as an argument and returns the removed value. If no index is specified, the pop() function by default removes and returns the last element of the list. The list is modified in-place.

In [6]:
# ANSWER 2 CONTINUE example of remove
my_list = [1, 2, 3, 2, 4]
my_list.remove(2)
print(my_list)

[1, 3, 2, 4]

In [2]:
# ANSWER 2 CONTINUE EXAMPLE OF POP
my_list = [1, 2, 3, 4]
removed_value = my_list.pop(1)  
print(removed_value) 
print(my_list)

2
[1, 3, 4]

In [15]:
#                                          ANSWER 3
List = [88,55,11,333,7852,119,77,554,285,123,753,159,84,62,14,51,53,59,57,12,89,78,45,46,1,21,3,22]
List.sort(reverse = True)
print("sorting a list in descending order : ",List )

sorting a list in descending order :  [7852, 753, 554, 333, 285, 159, 123, 119, 89, 88, 84, 78, 77, 62, 59, 57, 55, 53, 51, 46, 45, 22, 21, 14, 12, 11, 3, 1]

In [18]:
#                                        ANSWER 4
list_animal = ["Donkey","Tiger","Panther","Leopard","Cheetah","Elephant","Tiger","Polar","bear","Tiger","Tiger","Turtle","Crocodile""Tiger","Panther","Leopard","Tiger","Panther","Tiger","Leopard","Tiger"]
count = list_animal.count("Tiger")
print("Counting the occurance of animal name Tiger in given list : " , count)

Counting the occurance of animal name Tiger in given list :  7

In [23]:
#                                       ANSWER 5 
LIST =  [1,2,3,4,5,6,"Pathaan" , "Baahubali 2 " , "KGF Chapter 2" ,'Siya', (5+2j), 67, 51]
LIST.reverse()
print(LIST)

[51, 67, (5+2j), 'Siya', 'KGF Chapter 2', 'Baahubali 2 ', 'Pathaan', 6, 5, 4, 3, 2, 1]